CompileFlags:
  Add: [
    "-DTRUE_FALSE_DEFINED",
    "-DPOSIX",
    "-DATARI_ST",
    "-DBIG_ENDIAN",
    "-std=c++11",
    # Adapt to your workspace location
    "-I/Users/jonas/opt/cross-mint/m68k-atari-mint/sys-root/usr/include",
  ]
---
If:
  PathExclude: .*LIB/.*
CompileFlags:
  Add: -I./ATARILIB
---
If:
  PathMatch: .*LIB/.*
CompileFlags:
  Add: [
    "-I..",
    "-I."
  ]

