CompileFlags:
  Add: [
    "-DTRUE_FALSE_DEFINED",
    "-DPOSIX",
    "-DBIG_ENDIAN",
    "-std=c++11",
    "-I${HOME}/opt/cross-mint/m68k-atari-mint/include",
  ]
---
If:
  PathExclude: /.*LIB/.*
CompileFlags:
  Add: -I./ATARILIB
---
If:
  PathMatch: [ATARILIB/.*, WIN32LIB/.*]
CompileFlags:
  Add: -I..

